@media screen and (max-width: 767px) {
  #rightPanel {
    height: 45vh !important;
  }
  #myMap {
    height: 55vh !important;
  }
  #header {
    height: 8vh !important;
  }
  #header h1 {
    margin-bottom: 1rem !important;
    font-size: 1.5em;
  }
}
